---
import Layout from "../layouts/Layout.astro";
import { useSanityClient, groq } from "astro-sanity";
import { urlForImage } from "../lib/portableText";

export async function getBlogPosts() {
  const query = groq`*[_type == "post"] {title, slug, location, featuredImage, date} | order(date desc)`;
  const allPosts = await useSanityClient().fetch(query);
  return allPosts;
}

const posts: {
  slug: { current: string };
  title: string;
  location: { locationName: string; country: string };
  featuredImage: Object;
}[] = await getBlogPosts();
---

<Layout title="Picturesque Pints">
  <div class="wrapper region flow flow-space-m shadow">
    <p>
      A blog started to document the pints drank on my travels with amazing
      views - and even better company 🥴 🍻.
    </p>
    <ul class="grid" data-layout="posts">
      {
        posts.map((post, index) => {
          if (index === 0) {
            return (
              <li
                class="link-card"
                data-featured={`${index === 0 ? "true" : "false"}`}
              >
                <img
                  src={urlForImage(post.featuredImage)
                    .height(420)
                    .width(730)
                    .quality(100)
                    .format("webp")
                    .url()}
                />
                <div class="flow">
                  <a href={`/pints/${post.slug.current}`} class="font-bold">
                    {post.title}
                  </a>
                  <p>{post.location.locationName}</p>
                </div>
              </li>
            );
          }

          return (
            <li class="link-card">
              <img
                src={urlForImage(post.featuredImage)
                  .height(280)
                  .width(350)
                  .quality(100)
                  .format("webp")
                  .url()}
              />
              <div class="flow">
                <a href={`/pints/${post.slug.current}`} class="font-bold">
                  {post.title}
                </a>
                <p>{post.location.locationName}</p>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>
