---
import Layout from "../../layouts/Layout.astro";
import { useSanityClient, groq } from "astro-sanity";
import { sanityPortableText, urlForImage } from "../../lib/portableText";
import Map from "@components/Map";

const { slug } = Astro.params;

export async function getPintPost(slug: string) {
  const query = groq`*[_type == "post" && slug.current == "${slug}"][0]`;
  const pintPost = await useSanityClient().fetch(query);
  return pintPost;
}

const post = await getPintPost(slug);

const exchangeRateEndpoint = "https:api.exchangerate.host/latest?base=GBP";
const exchangeRates = await fetch(exchangeRateEndpoint).then((res) =>
  res.json()
);
const { rates } = exchangeRates;

const convertCurrency = (amount: number, currency: string) => {
  if (currency === "GBP") {
    return amount.toFixed(2);
  }

  const rate = rates[currency];

  return amount / rate;
};

const localPrice = post.price.amount.toLocaleString(post.location.country, {
  style: "currency",
  currency: post.price.currency,
  minimumFractionDigits: 0,
  maximumFractionDigits: 2,
});

const convertedAmount = convertCurrency(
  post.price.amount,
  post.price.currency
).toLocaleString("EN", {
  style: "currency",
  currency: "GBP",
  minimumFractionDigits: 0,
  maximumFractionDigits: 2,
});

const mapbox_access_token = import.meta.env.VITE_MAPBOX_ACCESS_TOKEN;
---

<Layout title={post.title}>
  <article class="wrapper region flow shadow post">
    <h2 class="text">{post.title}</h2>

    <img
      src={urlForImage(post.featuredImage)
        .width(740)
        .quality(100)
        .format("webp")
        .url()}
      alt={post.location.locationName}
      class="border"
    />

    <table>
      <tbody>
        <tr>
          <th>Location</th>
          <td>{post.location.locationName}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{post.date}</td>
        </tr>
        <tr>
          <th>Drink</th>
          <td>{post.drink}</td>
        </tr>
        <tr>
          <th>Local Price</th>
          <td>{localPrice}</td>
        </tr>
        <tr>
          <th>Price in £</th>
          <td>{convertedAmount}</td>
        </tr>
      </tbody>
    </table>

    <Fragment set:html={sanityPortableText(post.post)} />

    <Map
      client:only
      mapbox_access_token={mapbox_access_token}
      lng={post.location.geopoint.lng}
      lat={post.location.geopoint.lat}
    />
  </article>
</Layout>
